@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Product Sans';
}

html, body {
    /* height 100% makes scroll event listener no longer function */
    /* height: 100%; */
    width: 100%;
    overflow-x: hidden;
    color: #333333;
}

.about-page p {
    font-size: 14px;
    text-align: center;
}

.about-page h2 {
    font-size: 24px;
}

/* doesn't seem to change the display from block to inline */
/* em {
    display: inline !important;
} */

.aboutContainerTop {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
}

.aboutContainerTop img {
    width: 100%;
    z-index: 1;
}

.aboutContainerTop h1 {
    position: absolute;
    z-index: 2;
    top: 13px;
    font-weight: 400;
    max-height: 100px;
    text-align: center;
    color: white;
    font-family: Arapey;
}

/* unsure why but had to add this to make span font change */
.aboutContainerTop h1 span {
    font-family: Arapey;
}

.about-title {
    display: block;
}

/* mission container */
.mission-container {
    background-color: #76c893;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    color: white;
}

.mission-container p, h2 {
    text-align: center;
}

.mission-container h2 {
    margin-bottom: 14px;
    font-family: Arapey;
    font-weight: normal;
    color: white;
}

.mission-container p {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 30px;
}

/* image gallery */
.image-gallery-container {
    position: relative;

}

.slider-container {
    /* height: 50vh; */
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
    vertical-align: middle;
}

.slide {
    /* max-height: 50vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    user-select: none;
}

.slide img {
    width: 100%;
    height: 75vw;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;

}

.slide h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.grabbing {
    cursor: grabbing;
}

.grabbing .slide img {
    transform: scale(0.9)
}



.nextPrevBtns {
    position: absolute;
    text-align: center;
    /* border: 1px solid blue; */
    left: 50%;
    bottom: 15px;
    z-index: 1;
    transform: translateX(-50%);
}

.nextBtn::before {
    display: inline-block;
    display: absolute;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    opacity: 0.9;
    content: "\f137";
    font-size: 2rem;
}

.prevBtn::before {
    display: inline-block;
    display: absolute;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    opacity: 0.9;
    content: "\f138";
    border: none;
    font-size: 2rem;
}

.nextBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 50%;
    left: 3%;
    transform: translateY(50%);
}

.prevBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateY(50%);
}

.selector-menu {
    padding: 4px 7px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    background-color: rgba(4,4,4, .4);
    bottom: 10px;
    display: flex;
}

.imageSelected1, .imageSelected2, .imageSelected3 {
    /* position: absolute; */
    /* display: flex; */
    bottom: 4%;
    z-index: 3;
    width: 11px;
    height: 11px;
    /* background-color: red; */
    border: 2px solid white;
    border-radius: 50%;
}

.imageSelected1 {
    left: 45%;
}
.imageSelected2 {
    left: 50%;
    margin: 0 7px;
}
.imageSelected3 {
    left: 55%;
}

.filled {
    background-color: white;
}

.conflict-free-container {
    padding: 40px 20px;
    background-color: #f1f1f1;
}

.conflict-free-container h2 {
    /* why is it influenced by mission container??? */
    color: #333333;
    margin-bottom: 35px;
}

.conflict-free-container, .conflict-free-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conflict-free-container h1 {
    margin-bottom: 50px;
    text-align: center;
    
}

.conflict-free-container div:nth-child(3) {
    margin: 60px 0px;
}

/* deleted below: */
.conflict-free-container div:nth-child(4) {
    
}

.conflict-free-container img {
    width: 45%;
    margin-bottom: 1em;
}

.conflict-free-container > div > p {
    /* border: 1px solid red; */
    text-align: center;
    margin: 0 20px;
}
/* ================================== */

.expensive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 20px;
}

.expensive-container img {
    width: 200px;
    height: 105px;
    object-fit:cover;
    vertical-align: middle;
    margin-bottom: 17px;
}
.expensive-container div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px 40px 40px;

    border-top: 1px solid rgba(10,10,10,0.5);
    border-bottom: 1px solid rgba(10,10,10,0.5);
    margin: 20px 30px;
    padding: 20px 0;
    
}

.expensive-container div:last-child h2 {
    margin-bottom: 30px;
    text-align: center;
}

.expensive-container div:last-child p {
    text-align: center;
}
/* ================================== */

/* moissanite container */
.moissanite-container {
    background-color: #f1f1f1;
    padding: 30px 0px 40px;
}

.moissanite-container > div:first-child h2 {
    color: #4b3122;
    /* color: #533725; */
    margin-bottom: 40px;
    font-family: 'Product Sans';
    letter-spacing: 1px;
}

.moissanite-container > div:last-child > div {
    display: flex;
    align-items: center;
}
.moissanite-container > div:last-child > div:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
}

.moissanite-logo img {
    width: 80px;
    height: 80px;
    margin-left: 30px;
}

p.moissanite-benefit {
    text-align: left;
    margin-right: 30px;
    margin-left: 20px;
}
/* ================================== */

/* 2nd moissanite container */
.moissanite-2-container div:last-child img {
    width: 100%;
}
.history {
    padding: 40px 20px 0;
}

.history > div:last-child {
    border-top: 1px solid rgba(10,10,10,0.5);
    border-bottom: 1px solid rgba(10,10,10,0.5);
    margin: 20px 30px 0;
    padding: 20px 0;
}

.history > div:last-child > div:last-child {
    margin-top: 20px;
}

.history h2 {
    text-align: center;
}

.comparison img {
    vertical-align: middle;
    height: 275px;
    object-fit: cover;
    object-position: top center;
    /* width: 70%; */
}
/* ================================== */

/* founder quote container */
.founder-quote-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #76c893;
}

.founder-quote-container p {
    font-family: Arapey;
    font-size: 28px;
    color: white;
    margin: 0 35px;
}

.founder-quote-container p:first-of-type::before {
    content:open-quote;
    color: #f2f2f2;
    font-size: 32px;
}

.founder-quote-container p:first-of-type::after {
    content:close-quote;
    color: #f2f2f2;
    font-size: 32px;
}

.founder-quote-container p:last-of-type {
    font-size: 16px;
    margin-top: 30px;
}
/* ================================== */

/* section fade in */
/* .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
} */

.reveal1 {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal1.active {
    transform: translateY(0px);
    opacity: 1;
}

.reveal2 {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal2.active {
    transform: translateY(0px);
    opacity: 1;
}
/* ================================== */


/* ipad screen width */
@media only screen and (min-width: 768px) {

    .about-page h1 {
        font-size: 36px;
    }
    
    .about-page p {
        font-size: 18px;
    }
    
    .about-page h2 {
        font-size: 26px;
    }

    /* title container */
    .aboutContainerTop h1{
        top: 127px;
    }

    .about-title {
        display: inline;
    }
    /* ================================== */

    /* mission container */
    .mission-container {
        padding: 0px 125px;
    }

    .mission-container p {
        padding: 50px 10px;
    }

    .mission-container h2 {
        margin-bottom: 25px;
    }
    /* ================================== */

    /* image gallery */
    .slider-container {
        display: flex;
        cursor: default;
    }
    .slide img {
        width: 100%;
        max-height: 28vh;
        
        /* display: block; */
        /* object-fit:cover;
        object-position: top center;
        z-index: 2; */
    }

    /* .parallax {
        position: absolute;
        z-index:1;
    } */

    .selector-menu {
        /* doesn't apply without the '!important' tag */
        display: none !important;
    }
    .imageSelected1, .imageSelected2, .imageSelected3 {
        display: none;
    }

    /* ================================== */

    /* moissanite container */
    .moissanite-container {
        padding: 50px 0;
    }
    .moissanite-container div:last-child {
        display: flex;
    }

    .moissanite-container > div:last-child > div {
        flex-direction: column;
        margin: 0px 10px; 
        flex: 1;
    }

    .moissanite-container > div:first-child h2 {
        font-size: 30px;
    }
    .moissanite-container > div:last-child > div:nth-child(1) {
        margin-left: 30px;
    }

    .moissanite-container > div:last-child > div:nth-child(2) {
        margin-top: 0;
        margin-bottom: 0;
        flex: 1.3;
    }

    .moissanite-container > div:last-child > div:nth-child(3) {
        margin-right: 30px;
    }

    div.ipad-exception {
        /* unsure why can't take off !important tag */
        flex: 1 !important;
    }
    
    .moissanite-logo img {
        width: 100px;
        height: 100px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    p.moissanite-benefit {
        font-size: 16px;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
    }
    /* ================================== */

    /* expensive container */
    .expensive-container {
        flex-direction: row;;
        margin: 50px 20px;
    }

    .expensive-container div:first-child {
        flex: 1;
        display: flex;
        padding: 0;
    }

    .expensive-container div:last-child {
        flex: 1;
        border: none;
        margin: 0 50px;
    }
    
    .expensive-container img {
        width: 100%;
        margin: auto;
        height: 175px;
    }
    /* ================================== */
    
    /* 2nd moissanite container */
    .moissanite-2-container {
        /* margin: 40px 0; */
        display: flex;
        position: relative;
        height: 350px;
    }

    .moissanite-2-container > div:first-child {
        flex: 1;
        /* padding-bottom: 40px; */
        padding: 40px 0;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        left: 0;
        width: 50%;
        margin-left: 30px;
    }

    .moissanite-2-container > div:last-child {
        flex: 1;
        position: absolute;
        bottom: 0;
        right: 0;

    }

    .history {
        padding: 44px 30px 0;
    }

    .history > div:last-child {
        border: none;
        padding-bottom: 0;
    }

    .comparison img {
        height: 310px;
    }
    /* ================================== */

    /* delete some of these elements? */
    /* founder quote container */
    .founder-quote-container p {
        font-size: 28px;
        color: white;
        margin: 0 65px;
    }

    .founder-quote-container p:last-of-type {
        font-size: 20px;
        margin-top: 20px;
    }

    .founder-quote-container p:last-of-type::before {
        content: '- ';
        font-size: 20px;
    }
    /* ================================== */

    @media only screen and (min-width: 1024px) {

        /* font size */
        .about-page h1 {
            font-size: 44px;
        }
        
        .about-page p {
            font-size: 18px;
        }
        
        .about-page h2 {
            font-size: 30px;
        }
    
        .moissanite-benefit {
            /* how to remove !important tag */
            font-size: 18px !important;
        }

        .mission-container p {
            font-size: 22px;
        }
        /* ================================== */


        /* top container */
        .aboutContainerTop h1{
            top: 165px;
        }
        /* ================================== */

        /* mission container */
        .mission-container {
            padding: 0px 190px;
        }

        .mission-container h2 {
            margin-bottom: 35px;
        }
        /* ================================== */

        /* image gallery */
        .slide img {
            max-height: 34vh;
        }
        /* ================================== */

        /* moissanite container */
        .moissanite-container {
            padding: 87px 0;
        }

        .moissanite-container > div:first-child {
            margin-bottom: 55px;
        }

        .moissanite-container > div:last-child > div {
            margin: 0px 50px; 
        }

        .moissanite-container > div:first-child h2 {
            font-size: 34px;
        }

        .moissanite-container > div:last-child > div:nth-child(1) {
            margin-left: 30px;
            margin-right: 0;
        }
    
        .moissanite-container > div:last-child > div:nth-child(2) {
            /* margin-right: 0; */
            /* margin-left: 0; */
            flex: 1.4;
        }
    
        .moissanite-container > div:last-child > div:nth-child(3) {
            margin-right: 30px;
            margin-left: 0;
        }

        .moissanite-logo img {
            width: 120px;
            height: 120px;
        }

        /* ================================== */

        /* expensive container */
        .expensive-container {
            margin: 50px 40px;
        }


        .expensive-container div:last-child {
            margin: 0 85px;
        }

        .expensive-container img {
            height: 225px;
        }
        /* ================================== */

        /* 2nd moissanite container */
        .moissanite-2-container {
            height: 387px;
        }

        .comparison img {
            height: 387px;
        }
        /* ================================== */

        /* founder quote container */
        .founder-quote-container p {
            font-size: 28px;
            margin: 0 100px;
        }
        /* ================================== */
    }

    @media only screen and (min-width: 1200px) {

        /* font size */
        .about-page h1 {
            font-size: 52px;
        }

        .about-page p {
            font-size: 22px;
        }

        .about-page h2 {
            font-size: 32px;
        }

        .moissanite-benefit {
            /* how to remove !important tag */
            font-size: 20px !important;
        }

        .mission-container p {
            font-size: 24px;
        }

        .founder-quote-container p {
            font-size: 28px;
            margin: 0 175px;
        }
        /* ================================== */

        /* top container */
        .aboutContainerTop h1{
            top: 240px;
        }
        /* ================================== */

        /* mission container */
        .mission-container {
            padding: 320px 270px;
        }
        /* ================================== */

        /* image gallery */
        .slide img {
            max-height: 48vh;
        }
        /* ================================== */

        /* moissanite container */
        .moissanite-container {
            padding: 120px 0;
        }

        .moissanite-container > div:first-child {
            margin-bottom: 55px;
        }

        .moissanite-container > div:last-child {
            margin: 0 100px;
        }

        .moissanite-container > div:last-child > div {
        }

        .moissanite-container > div:first-child h2 {
            font-size: 40px;
        }

        .moissanite-logo img {
            width: 140px;
            height: 140px;
        }
        /* ================================== */

        /* expensive container */
        .expensive-container {
            margin: 80px 60px;
        }


        .expensive-container div:last-child {
            margin: 0 75px;
        }

        .expensive-container img {
            height: 310px;
        }
        /* ================================== */

        /* 2nd moissanite container */
        .moissanite-2-container {
            height: 530px;
        }

        .comparison img {
            width: 100%;
            height: 530px;
        }
        /* ================================== */
    }
}   