@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'sf pro', Arapey;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: #333333;
}

p {
    font-size: 14px;
}

/* em {
    display: inline !important;
} */

.aboutContainerTop {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
}

.aboutContainerTop img {
    width: 100%;
    z-index: 1;
}

.aboutContainerTop h1 {
    position: absolute;
    z-index: 2;
    top: 13px;
    font-weight: 400;
    max-height: 100px;
    text-align: center;
    color: white;
    font-family: Arapey;
}

/* unsure why but had to add this to make span font change */
.aboutContainerTop h1 span {
    font-family: Arapey;
}

.about-title {
    display: block;
}

/* mission container */
.mission-container {
    background-color: #76c893;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

.mission-container p, h2 {
    color:white;
    text-align: center;
}

.mission-container h2 {
    margin-bottom: 14px;
    font-family: Arapey;
    font-weight: normal;
}

.mission-container p {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 30px;
}

/* image gallery */
.image-gallery-container {
    position: relative;

}

.slider-container {
    /* height: 50vh; */
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
    vertical-align: middle;
}

.slide {
    /* max-height: 50vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    user-select: none;
}

.slide img {
    width: 100%;
    height: 75vw;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;

}

.slide h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.grabbing {
    cursor: grabbing;
}

.grabbing .slide img {
    transform: scale(0.9)
}



.nextPrevBtns {
    position: absolute;
    text-align: center;
    /* border: 1px solid blue; */
    left: 50%;
    bottom: 15px;
    z-index: 1;
    transform: translateX(-50%);
}

.nextBtn::before {
    display: inline-block;
    display: absolute;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    opacity: 0.9;
    content: "\f137";
    font-size: 2rem;
}

.prevBtn::before {
    display: inline-block;
    display: absolute;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    opacity: 0.9;
    content: "\f138";
    border: none;
    font-size: 2rem;
}

.nextBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 50%;
    left: 3%;
    transform: translateY(50%);
}

.prevBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateY(50%);
}

.selector-menu {
    padding: 4px 7px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    background-color: rgba(4,4,4, .4);
    bottom: 10px;
    display: flex;
}

.imageSelected1, .imageSelected2, .imageSelected3 {
    /* position: absolute; */
    /* display: flex; */
    bottom: 4%;
    z-index: 3;
    width: 11px;
    height: 11px;
    /* background-color: red; */
    border: 2px solid white;
    border-radius: 50%;
}

.imageSelected1 {
    left: 45%;
}
.imageSelected2 {
    left: 50%;
    margin: 0 7px;
}
.imageSelected3 {
    left: 55%;
}

.filled {
    background-color: white;
}

.conflict-free-container {
    padding: 40px 20px;
    background-color: #f1f1f1;
}

.conflict-free-container h2 {
    /* why is it influenced by mission container??? */
    color: #333333;
    margin-bottom: 35px;
}

.conflict-free-container, .conflict-free-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conflict-free-container h1 {
    margin-bottom: 50px;
    text-align: center;
    
}

.conflict-free-container div:nth-child(3) {
    margin: 60px 0px;
}

/* deleted below: */
.conflict-free-container div:nth-child(4) {
    
}

.conflict-free-container img {
    width: 45%;
    margin-bottom: 1em;
}

.conflict-free-container > div > p {
    /* border: 1px solid red; */
    text-align: center;
    margin: 0 20px;
}
/* ================================== */

.expensive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 20px;
}

.expensive-container img {
    width: 200px;
    height: 105px;
    object-fit:cover;
    vertical-align: middle;
    margin-bottom: 17px;
}
.expensive-container div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px 40px 40px;

    border-top: 1px solid rgba(10,10,10,0.5);
    border-bottom: 1px solid rgba(10,10,10,0.5);
    margin: 20px 30px;
    padding: 20px 0;
    
}

.expensive-container div:last-child h3 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.expensive-container div:last-child p {
    text-align: center;
    font-size: 14px;
}
/* ================================== */

/* moissanite container */
.moissanite-container {
    background-color: #f1f1f1;
    padding: 30px 0px 40px;
}
.moissanite-container > div:first-child h2 {
    color: #333333;
    margin-bottom: 40px;
}

.moissanite-container > div:last-child > div {
    display: flex;
    align-items: center;
}
.moissanite-container > div:last-child > div:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
}

.moissanite-logo img {
    width: 80px;
    height: 80px;
    margin-left: 60px;
}

.moissanite-benefit {
    margin-right: 60px;
    margin-left: 20px;
    font-size: 12px;
}
/* ================================== */

/* 2nd moissanite container */
.moissanite-2-container div:last-child img {
    width: 100%;
}
.history {
    padding: 40px 20px 0;
}

.history > div:last-child {
    border-top: 1px solid rgba(10,10,10,0.5);
    border-bottom: 1px solid rgba(10,10,10,0.5);
    margin: 20px 30px 0;
    padding: 20px 0;
}

.history > div:last-child > div:last-child {
    margin-top: 20px;
}

.history h3 {
    text-align: center;
    font-size: 20px;
}

.comparison img {
    vertical-align: middle;
    height: 275px;
    object-fit: cover;
    object-position: top center;
    /* width: 70%; */
}
/* ================================== */

/* founder quote container */
.founder-quote-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #76c893;
}

.founder-quote-container p {
    font-family: Arapey;
    font-size: 28px;
    color: white;
    margin: 0 25px;
}

.founder-quote-container p::before {
    content:open-quote;
    color: #f2f2f2;
    font-size: 32px;
}

.founder-quote-container p::after {
    content:close-quote;
    color: #f2f2f2;
    font-size: 32px;
}
/* ================================== */

/* ipad screen width */
@media only screen and (min-width: 768px) {

    /* title */
    .aboutContainerTop h1{
        position: absolute;
        top: 120px;
    }
    .about-title {
        display: inline;
    }
    /* ================================== */

    /* mission container */
    .mission-container {
        padding: 0px 125px;
    }

    .mission-container p {
        padding: 50px 10px;
    }

    .mission-container h2 {
        margin-bottom: 25px;
    }
    /* ================================== */

    /* image gallery */
    .slider-container {
        display: flex;
        cursor: default;
    }
    .slide img {
        /* object-fit: contain; */
        width: 100%;
        max-height: 28vh;
    }
    .selector-menu {
        /* doesn't apply without the '!important' tag */
        display: none !important;
    }
    .imageSelected1, .imageSelected2, .imageSelected3 {
        display: none;
    }
    /* ================================== */

    /* moissanite container */

    .moissanite-container {
        padding: 50px 0;
    }
    .moissanite-container div:last-child {
        display: flex;
    }

    .moissanite-container > div:last-child > div {
        flex-direction: column;
        margin: 0px 35px; 
    }
    .moissanite-container > div:last-child > div:nth-child(2) {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .moissanite-logo img {
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .moissanite-benefit {
        margin-right: 0;
        margin-left: 0;
    }
    /* ================================== */

    /* expensive container */
    .expensive-container {
        flex-direction: row;;
        margin: 50px 20px;
    }

    .expensive-container div:first-child {
        flex: 1;
        display: flex;
        padding: 0;
    }

    .expensive-container div:last-child {
        flex: 1;
        border: none;
        margin: 0 50px;
    }
    
    .expensive-container img {
        width: 100%;
        margin: auto;
        height: 175px;
    }
    /* ================================== */
    
    /* 2nd moissanite container */
.moissanite-2-container {
    /* margin: 40px 0; */
    display: flex;
    position: relative;
    height: 350px;
}

.moissanite-2-container > div:first-child {
    flex: 1;
    /* padding-bottom: 40px; */
    padding: 40px 0;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
    width: 50%;
    margin-left: 30px;
}

.moissanite-2-container > div:last-child {
    flex: 1;
    position: absolute;
    bottom: 0;
    right: 0;

}

.history {
    padding: 44px 30px 0;
}

.history > div:last-child {
    border: none;
    padding-bottom: 0;
}

.comparison img {
    height: 310px;
}
/* ================================== */

}